{% load static%}
<!DOCTYPE html>
{% block body %}
<html lang="en">
    <head>
    <!--    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
        <link href= "{%static 'styles.css'%}" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

        <title>My Webpage</title>
        <script>
            var counter = 0;
            function createButton(){
                var x = document.createElement("BUTTON");
                x.className = "second";
              //  x.onclick = "inside_goal.html";
                var name = document.querySelector("#id_goal").value;
               // $( "#h1" ).load( "index.html #goal2" );
                var t = document.createTextNode(name);
                x.appendChild(t);
                document.getElementById("space_holder").appendChild(x);
                var insideclass = document.getElementsByClassName("second");
              //insideclass[counter].innerHTML = `<input type="button" onclick="location.href='inside_goal.html';" value="${name}" />`;  (the code for clicking on a button and takes you to another html page)
                insideclass[counter].innerHTML = `<input type="button" onclick="location.href='/inside_goal'" value="${name}"/>`;
                counter = counter+1;
             //   document.querySelector("#goal").value = "";

            };
        </script>
    </head>
    <body>
        <h1 id = "home_header" style = "font-family: optima; text-align: center"> Nancy Dong </h1>
     <div id = "enter.goal">
         <form action="{% url 'goalpage' %}" id = "subBox" onsubmit="createButton();" method="post">
             {% csrf_token %}
             {{ form }}
             <input type="submit", value = "Enter Goal">
         </form>

     </div>
     <div id = "space_holder" style = "top: 50px; left: 50px;">
     </div>
     <div id = "name_holder">

     </div>




    </body>
</html>
<!-- function changeBtnPos(){
                var ele = document.getElementById("first");
                var leftVal = parseInt(ele.style.left, 10);
                ele.style.left = (leftVal + 100) + "px";
            }-->
{% endblock %}