#home_header{
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 20px;
}

#newBut{
    position: relative;
    left: 40px;
}

#usertime{
  height: 40px;
  width: 268px;
}
#mins{
  height: 50px;
  width: 260px;
  font-size: 12pt;
}

#btime{
  height: 50px;
  width: 260px;
  font-size: 12pt;
  position: absolute;
  top: 450px;
  left: 590px;


}

#subBox{
    text-align: center;
}

#space_holder{
    position: absolute;

}
#first{
    margin-left: 10px;
    margin-top: 10px;
}
.base-timer {
  position: relative;
  height: 1400px;
  width: 1400px;
}

.base-timer__label{
    position: absolute;
    width: 1400px;
    height: 1400px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 90px;
}

/* Removes SVG styling that would hide the time label */
.base-timer__circle {
  fill: none;
  stroke: none;
}

/* The SVG path that displays the timer's progress */
.base-timer__path-elapsed {
  stroke-width: 3px;
  stroke: grey;
}

.base-timer__path-remaining {
  /* Just as thick as the original ring */
  stroke-width: 3px;
  color: green;

  /* Rounds the line endings to create a seamless circle */
  stroke-linecap: round;

    width: 1400px;
    height: 1400px;
  /* Makes sure the animation starts at the top of the circle */
  transform: rotate(90deg);
  transform-origin: center;

  /* One second aligns with the speed of the countdown timer */
  transition: 1s linear all;

  /* Allows the ring to change color when the color value updates */
  stroke: currentColor;
}

.base-timer__svg {
  /* Flips the svg and makes the animation to move left-to-right */
  transform: scaleX(-1);
}
